<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Register Page</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <style>
      body {
        background-color: #6c757d;
      }
    </style>
  </head>

  <body>
    <header class="p-3 text-bg-dark">
      <div class="container">
        <div
          class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
        >
          <a
            href="/"
            class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none"
          >
            <svg
              class="bi me-2"
              width="40"
              height="32"
              role="img"
              aria-label="Bootstrap"
            >
              <use xlink:href="#bootstrap"></use>
            </svg>
          </a>
          <div class="text-end">
            <button type="button" class="btn btn-warning" id="signIn">
              Sign-in
            </button>
          </div>
        </div>
      </div>
    </header>

    <div class="container text-center">
      <div class="row row-cols-1">
        <div class="col">
          <main class="form-signin w-25 m-auto">
            <form id="userForm" data-bitwarden-watching="1">
              <div class="form-floating">
                <img
                  class="mb-4 mt-5 w-100"
                  src="img/rodinaIT.jpg"
                  alt="Register"
                />
              </div>

              <h1 class="h3 mb-3 fw-normal">Please sign up</h1>

              <div class="form-floating">
                <input
                  type="text"
                  class="form-control"
                  id="name"
                  placeholder="name"
                />
                <label for="name">Name</label>
              </div>
               <div class="form-floating">
                <input
                  type="text"
                  class="form-control"
                  id="surname"
                  placeholder="Surname"
                />
                <label for="surname">Surname</label>
              </div>
              <div class="form-floating">
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  placeholder="Email"
                />
                <label for="email">Email</label>
              </div>
               <div class="form-floating">
                <input
                  type="password"
                  class="form-control"
                  id="password"
                  placeholder="Password"
                />
                <label for="password">Password</label>
              </div>

              <button class="btn btn-dark mt-5 w-100 py-2" type="submit">
                Sign up
              </button>
            </form>
          </main>
        </div>

        <div class="col">
          <ul
            class="container text-center list-group"
            style="width: 325px"
            id="list"
          >
            {% for user in users %}
            <li class="list-group-item">{{ user.name }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <script>
      document.getElementById('signIn').addEventListener('click', function () {
        window.location.replace('/login');
      });

      document
        .getElementById('userForm')
        .addEventListener('submit', async function (event) {
          event.preventDefault();

          const formData = {
            name: document.getElementById('name').value,
            surname: document.getElementById('surname').value,
            email: document.getElementById('email').value,
            password: document.getElementById('password').value,
          };
          console.log(JSON.stringify(formData));

          try {
            const response = await fetch('/user/create', {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json',
              },
              body: JSON.stringify(formData),
              credentials: 'same-origin',
            });

            if (response.ok) {
              window.location.replace('/url/all');
            }

            if (response.status === 401) {
              alert('User already exists');
            }
          } catch (error) {
            alert('Error creating user:', error.message);
            console.error('Error creating user:', error);
          }
        });
    </script>
  </body>
</html>
